<div class="side-box">
  <h3>Books</h3>
  <script charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fangexa-20%2F8001%2F5a975821-ae9d-40c5-8d4f-6dca1c4d13ed"> </script> <noscript><a href="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fangexa-20%2F8001%2F5a975821-ae9d-40c5-8d4f-6dca1c4d13ed&Operation=NoScript">Amazon.com Widgets</a></noscript>
</div>
