<footer>

    <!-- wrapper -->
    <div class="wrapper cf">

        <div class="widget-block" style="padding:30px;">
            <h4>ABOUT</h4>
            <p>This is a site dedicated to learn AngularJS superheroic framework. AngularJS was designed to make web-applications (or dynamic sites) development easier.</p>
            <p>Our goal is to help people augment their skills through regular issues covering all aspects of frontend development.</p>
        </div>

        <div id="footer-bottom">2015 &copy; All Rights Reserved ng-learn.org</div>

    </div>
    <!-- ENDS wrapper -->

    <!--footer-->

</footer>
