<li class="block" id="partners">
  <h4 class="heading">Recommended</h4>
  <ul class="sidelist">      
      <li class="cat-item">
        <a href="https://www.youtube.com/channel/UCuU5Kb2xKla1weg1t2MgkaA" title="GraphQL Workshop" target="_blank" rel=”noopener noreferrer”>
            <span>Video Tutorials</span>
        </a>
      </li>    
      <li class="cat-item">
        <a href="https://graphqlworkshop.io" title="GraphQL Workshop" target="_blank" rel=”noopener noreferrer”>
            <span>GraphQL Workshop</span>
        </a>
      </li>    
      <li class="cat-item">
        <a href="https://graphqlscalars.com/" title="GraphQL Scalars Index" target="_blank"rel=”noopener noreferrer”>
          <span>GraphQL Scalars Index</span>
        </a>
      </li>  
      <li class="cat-item">
        <a href="https://accessweb.online" title="access web online blog" target="_blank" rel=”noopener noreferrer”>
          <span>Accessibility Blog</span>
        </a>
      </li>
      <li class="cat-item">
        <a href="http://santiagoesteva.com" title="Consulting Services" target="_blank" rel=”noopener noreferrer”>
          <span>Consulting Services</span>
        </a>
      </li>
  </ul>
</li>

