<h1>Post a Job for AngularJS Developers</h1>

<h2>Pricing</h2>
<div>Before 06/30/14: $50 for 30 days </br>After 07/01/14: $85 for 30 days</div>
<h2>How does it work?</h2>
<div>
    <ul>
        <li>Send an email to <a href="mailto:info@ng-learn.org?subject=JobPosting">
            info@ng-learn.org</a>  containing the following information:
            <ul>
                </br>
                <b>Job Info </b>
                <li>Company: </li>
                <li>Location: (city, state, country or remote)</li>
                <li>Link to Apply to the position: </li>
                <li>Job Title: </li>

                <b>Contact Info </b>
                <li>Name:</li>
                <li>Email:</li>

            </ul>

        </li>
        </br>
        <li>We send a paypal payment request for the first 30 days</li>
        </br>
        <li>Once the payment is done your job post:
            <ul>
                <li>is displayed on our <a href="/tags/jobs.html" target="_blank">jobs listing</a> for 30 days</li>
                <li>published on our twitter</li>
                <li>published on our Google Plus</li>
                <li>published on our feed</li>
            </ul>
        </li>
    </ul>

    <span>Terms: Full and Partial Refunds are only provided if your listing is removed.</span>

</div>