<li class="block" id="share">
    <h4 class="heading">Share</h4>
    <div class="share" style="padding-left:10px"><div class="g-plusone" data-size="tall"></div></div>
    <div class="share"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a></div>
    <div class="share"><a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a></div>
    <div class="share"><script type="IN/Share" data-counter="top"></script></div>
</li>


