<!-- stay in touch -->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <section>
        <h3>Follow Us</h3>
        <p>Stay in touch with the latest news</p>
        <ul class="social">
            <li><a href="{{ site.url }}/atom.xml" class="rss"><i class="fa fa-rss"></i></a>
            <li><a href="https://twitter.com/ng_learn" class="twitter"><i class="fa fa-twitter"></i></a>
            <li><a href="https://plus.google.com/+Ng-learnOrg" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <li><a href="https://github.com/ng-learn-org" class="github"><i class="fa fa-github-alt"></i></a>
        </ul>
        <p>or visit or <a href="https://plus.google.com/100416474018923825711" rel="publisher">Google+</a> page</p>
    </section>
</div>
<!-- /stay in touch -->