<li class="block" id="stayintouch">
    <h4 class="heading">Follow Us</h4>
    <ul style="font-size: 3em;">
        <li class="share" style="padding-left: 30px;"><a href="{{ site.url }}/atom.xml" class="rss"><i class="fa fa-rss"></i></a>
        <li class="share"><a href="https://twitter.com/ng_learn" class="twitter"><i class="fa fa-twitter"></i></a>
        <li class="share"><a href="https://plus.google.com/+Ng-learnOrg" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <li class="share"><a href="https://github.com/ng-learn-org" class="github"><i class="fa fa-github-alt"></i></a>
    </ul>
    <!--<p>or visit our <a href="https://plus.google.com/100416474018923825711" rel="publisher">Google+</a> page-->
        <!--<br>-->
        <!--<a href="http://www.bloglovin.com/blog/11330823/?claim=29bjfu55v6d">Follow this blog with Bloglovin</a>-->
    <!--</p>-->
</li>