{% for post in site.categories[include.tag] %}

<article itemscope itemtype="http://schema.org/TechArticle">
    <div class="feature-image">
        <!--{% if post.image %}-->
        <!--<div class="logo-container">-->
             <!--<img src="{{ post.image}}" class="logo"/>-->
        <!--</div>  -->
        <!--{% endif %}-->
        <div class="entry-date"><div class="month">{{ post.date | date: "%b" }}</div><div class="number">{{ post.date | date: "%d" }}</div></div>
    </div>

    <div class="excerpt">
        <a href="{{ post.url }}" class="post-heading" >{{ post.title }}</a>
        {{ post.excerpt }}
    </div>

    <div class="meta">
        <span class="user">Author: <a href="#">{{ post.author}},  </a></span>
            <span class="tags">
                Tags:
                {% for category in post.categories %}
                    <a href="/tags/{{ category }}.html">{{ category | replace:'_',' ' | capitalize }}</a>
                    {% if forloop.last == false %},{% endif %}
                {% endfor %},
            </span>
        <span class="comments"><a href="{{ site.url }}{{ post.url }}#disqus_thread">comments</a></span>
    </div>

    <i class="tape"></i>
</article>

{% endfor %}
