<!DOCTYPE html>
<html>
  <head>
    <title>ng-learn.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/syntax.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet">

  </head>
  <body>
    {% include header.html %}    

    <!-- Content -->
    <div class="container">
      <div class="row">
        <div class="span8">{{ content }}</div>
        <div class="span4"></div>
      </div>
    </div>

    
    {% include header.html %}    
    {% include ga.html %}    

    <script src="js/jquery-2.0.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
