<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar navbar-invert navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="#">AngularJS.info</a>

          <div class="nav-collapse collapse">
            <!-- <ul class="nav"> -->
            <!--   <li class="active"><a href="#">Blog</a></li> -->
            <!--   <li><a href="#">Contact</a></li> -->
            <!-- </ul> -->
              
            <!-- Search box -->
            <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search">
            </form>
          
          </div>

        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="row">
        <div class="span8">{{ content }}</div>
        <div class="span4"></div>
      </div>
    </div>

    

    <script src="js/jquery-2.0.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
