<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/png">

    <!--<link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" media="screen" href="/css/superfish.css" />
    <link rel="stylesheet" href="/css/nivo-slider.css" media="all"  />
    <link rel="stylesheet" href="/css/tweet.css" media="all"  />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="all" href="/css/lessframework.css"/>

    <style>
        .highlight { background-color: black}
    </style>

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/js/modernizr-2.5.3.min.js"></script>

    <link href="/css/prism.css" type="text/css" rel="stylesheet">


</head>
<body>


{% include header.html %}


<!-- MAIN -->
<div role="main" id="main">
    <div class="wrapper cf">

        <!-- posts list -->
        <div id="posts-list" class="cf">

            <article itemscope itemtype="http://schema.org/TechArticle">
                <div class="feature-image">
                    <!--<a href="#"><img src="/img/dummies/560x300c.jpg" alt="Thumbnail" /></a>-->
                    <div class="entry-date"><div class="month">{{ page.date | date: "%b" }}</div><div class="number">{{ page.date | date: "%d" }}</div></div>
                </div>

                <div class="excerpt">
                    <a href="#" class="post-heading" >{{ page.title }}</a>
                    {{ content }}
                </div>

                <div class="meta">
                    <span class="user">Author: <a href="#">{{ page.author}}, </a></span>
                    <span class="tags">
                        Tags:
                        {% for category in page.categories %}
                            <a href="/tags/{{ category }}.html">{{ category | replace:'_',' ' | capitalize }}</a>
                            {% if forloop.last == false %},{% endif %}
                        {% endfor %},
                    </span>
                    <span class="comments"><a href="{{ site.url }}{{ page.url }}#disqus_thread">comments</a></span>
                </div>

                <i class="tape"></i>
            </article>


            <!-- comments list -->
            <div id="comments-wrap">
                {% include disqus.html %}
            </div>
            <!-- ENDS comments list -->

        </div>
        <!-- ENDS posts list -->

        <!-- sidebar -->
        <aside id="sidebar">

            <ul class="sidelist">
                <!-- share -->
                {% include share.html %}
                <!-- share -->
                <!-- tags -->
                {% include tags.html %}
                <!-- tags -->
            </ul>

        </aside>
        <!-- ENDS sidebar -->

    </div>
</div>
<!-- ENDS MAIN -->

{% include footer.html %}

{% include ga.html %}


<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script src="/js/custom.js"></script>

<!-- superfish -->
<script  src="/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script  src="/js/superfish-1.4.8/js/superfish.js"></script>
<script  src="/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->

<script src="/js/tweet/jquery.tweet.js" ></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.nivo.slider.js" ></script>
<script src="/js/css3-mediaqueries.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/moveform.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>

<!-- end scripts -->

<!-- linkedin -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
</script>
<!-- /linkedin -->

<!-- pocket -->
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
<!-- /pocket -->

<!-- g+ -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<!-- /g+ -->

<!-- twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- /twitter -->
</body>
</html>